.HomePage {
  width: 100vw;
  height: calc(100vh - 7rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 45rem;
}

@media (width <= 1500px) {
  .HomePage {
    min-height: calc(45rem * 0.8);
  }
}

@media (width <= 1250px) {
  .HomePage {
    min-height: calc(45rem * 0.6);
  }
}
@media (width <= 800px){

  .HomePage{
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    height: calc(100vh - 3.6rem );
    position: relative;
  }
}