.combineButtons img {
  width:100%;


}

.combineButtons {
  background-color: transparent;
  width: 6rem;
  height: 6rem;
  display: grid;
  place-items: center;

  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}
