.Weather {
  width: 8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  gap: 2rem;
}
.Weather--info {
  width: 6rem;
  height: 6rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  display: grid;
  place-items: center;
  user-select: none;
  font-family: var(--primary-font);
  font-size: 1.3rem;
}

.winter img {
  width: 70%;
}
.winter span {
  color: var(--primary-color);
  margin-bottom: 5px;
}

.Weather--info p {
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 600;
}

@media (width <= 1500px) {
  .Weather {
    width: calc(8rem * 0.8);
  }
  .Weather--info {
    width: calc(6rem * 0.8);
    height: calc(6rem * 0.8);
  }
  .weather--svg {
    width: calc(5rem * 0.8);
  }
}
@media (width <= 1250px) {
  .Weather {
    width: calc(8rem * 0.6);
  }
  .Weather--info {
    width: calc(6rem * 0.6);
  }
  .Weather--info p {
    font-size: 1.5rem;
  }
  .weather--svg {
    width: calc(5rem * 0.6);
  }
}

@media (width <= 800px) {
  .Weather {
    flex-direction: row;
    width: 100%;
    height: 6rem;
  }
  .Weather--info {
    width: 4rem;
    height: 4rem;
  }
  .weather--svg {
    width: 3rem;
  }
}
