.combineButton {
  background-color: transparent;
  width: 6rem;
  height: 7.5rem;
  display: grid;
  place-items: center;

  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.combineButton img {
  width: 100%;
  object-fit: cover;
}
.activeButton {
  background-color: var(--fourth-color);
}

@media (width <= 1500px) {


  .combineButton {
    width: calc(6rem * 0.8);
    height: calc(7.5rem * 0.8);
  }

}

@media (width <= 1250px) {


  .combineButton {
    width: calc(6rem * 0.6);
    height: calc(7.5rem * 0.6);
  }

}
