.combineButton {
  /* Variables */
  --button_radius: 0.75em;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--secondary-color);
  width: 6rem;
  height: 7.5rem;
  margin-top: 0.3rem;
}

.combineButton__span {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--secondary-color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--primary-color);
  color: var(--secondary-color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  width: 100%;
  height: 100%;
  cursor: no-drop;
  display: flex;
}

.combineButton__svg {
  fill: var(--third-color);
  transform: scale(1.8);
}
.activeButton .combineButton__span {
  background-color: var(--fourth-color);
}

.combineButton.activeButton:hover .combineButton__span {
  transform: translateY(-0.33em);
  cursor: pointer;
}
.combineButton.activeButton .combineButton__span {
  cursor: pointer;
}

.combineButton.activeButton:active .combineButton__span {
  transform: translateY(0);
}

@keyframes changeColor {
  0% {
    fill: var(--third-color);
  }
  50% {
    fill: var(--fourth-color);
  }
  100% {
    fill: var(--third-color);
  }
}

.combineButton.activeButton .svg--arrowBotton {
  animation: changeColor 5s infinite;
}

.combineButton.activeButton .svg--arrowTop {
  animation: changeColor 5s infinite;
  animation-delay: 2.5s;
}

@media (width <= 1500px) {
  .combineButton {
    width: calc(6rem * 0.8);
    height: calc(7.5rem * 0.8);
  }
  .combineButton__svg {
    transform: scale(2.8);
  }
}

@media (width <= 1250px) {
  .combineButton {
    width: calc(6rem * 0.6);
    height: calc(7.5rem * 0.6);
  }
  .combineButton__svg {
    transform: scale(17);
  }
}
@media (width <= 800px) {
  .combineButton {
    width: calc(6rem * 0.8);
    height: calc(7.5rem * 0.8);
  }
  .combineButton__svg {
    transform: scale(2.8);
  }
}

@media (width <= 400px) {
  .combineButton {
    width: calc(6rem * 0.6);
    height: calc(7.5rem * 0.6);
  }
  .combineButton__svg {
    transform: scale(17);
  }
}
