header {
  height: 6rem;
  width: 100vw;
  background-color: transparent;
  display: grid;
  justify-content: center;
  background-color: var(--fifth-color);
}
.header__logo {
  font-size: 2.5rem;
}
.header__logo {
  font-family: var(--primary-font);
  margin: auto 3rem;
  color: var(--primary-color);
}
@media (width <= 1500px) {
  header {
    height: calc(6rem * 0.8);
  }
  .header__logo {
    font-size: calc(2.5rem * 0.8);
  }
}
@media (max-height: 700px) {
  header {
    height: calc(6rem * 0.6);
  }
  .header__logo {
    font-size: calc(2.5rem * 0.6);
  }
}