.SelectionGarment {
  width: 30rem;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-gap: 1px;

}

.SelectionGarment__big {
  align-items: center;
  place-content: center;
}

.SelectionGarment__big,
.SelectionGarment__box {
  display: flex;
  width: 100%;
  height: 100%;
}

.SelectionGarment__box {
  flex-direction: column;

  justify-content: space-between;
  margin: auto;
}

.SelectionGarment__box--first {
  width: 85%;
  height: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.SelectionGarment__box--shoes {
  width: 100%;
  height: 50%;
  display: grid;
  place-content: center;
  margin-top: 0.5rem;
}


@keyframes changeColor {
  0% {
    fill: var(--third-color);
  }
  50% {
    fill: var(--fourth-color);
  }
  100% {
    fill: var(--third-color);
  }
}
 .svg--arrowBotton {
  animation: changeColor 5s infinite;
}

 .svg--arrowTop {
  animation: changeColor 5s infinite;
  animation-delay: -2.5s;
}




@media (max-width: 1500px) {
  .SelectionGarment {
    width: calc(30rem * 0.8);
    height: calc(40rem * 0.8);
  }
}


@media (width <= 1250px) {
  .SelectionGarment {
    width: calc(30rem * 0.6);
    height: calc(40rem * 0.6);
  }
}

@media (max-width: 800px) {
  .SelectionGarment {
    width: calc(30rem * 0.8);
    height: calc(40rem * 0.8);
    z-index: 1;

  }
}

@media (width <= 400px) {
  .SelectionGarment {
    width: calc(30rem * 0.6);
    height: calc(40rem * 0.6);
  }
}