.clothingButton {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  display: grid;
  place-items: center;
}
.clothingButton img {
  width: 100%;
  pointer-events: none;
}
