.WeatherModal {
  width: 50rem;
  height: 4rem;
  margin: 8rem auto;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);


}

.InteractiveButton .WeatherModal{
  font-size: 1px;
}
.WeatherModal__form--submit,
.WeatherModal__form--cancel,
.WeatherModal__form--input {
  font-family: var(--primary-font);
}

.WeatherModal__form {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.WeatherModal__form--submit,
.WeatherModal__form--cancel {
  font-size: 1.4rem;
  width: 15%;
  height: 3rem;
  border-radius: 8px;
  
}
.WeatherModal__form--submit span,
.WeatherModal__form--cancel span{
  border-radius: 8px;
}
.WeatherModal__form--input {
  background-color: var();
  width: 60%;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.5rem;
  outline: none;
  font-style: italic;
  padding-left: 1rem;
  letter-spacing: 0.75px;
}
.WeatherModal__form--submit:hover,
.WeatherModal__form--cancel:hover {
  background-color: var(--fourth-color);
}
@media(width <= 1250px){
  .WeatherModal{
   width: 40rem;
  }
}
@media(width <= 800px){
  .WeatherModal{
    height: 8rem;
    width: 30rem;
    margin: auto;
  }
  .WeatherModal__form{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 4px 1px;

  }
  .WeatherModal__form--input {
    grid-area: 1 / 1 / 2 / 3;
    width: 90%;
    margin: auto;

  }
  .WeatherModal__form--cancel{
    grid-area: 2/1/3/2;


  }
  .WeatherModal__form--submit {
    grid-area: 2/2/3/3;


  }
  .WeatherModal__form--submit ,
  .WeatherModal__form--cancel{
    width: calc(30rem * 0.40);
    margin: auto;
  }
}