.SelectionClothes {
  width: 55%;
  height: 80%;
  overflow: auto;
}

.SelectionClothes--box {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
}

.SelectionClothes::-webkit-scrollbar {
  width: 10px;
}

.SelectionClothes::-webkit-scrollbar-track {
  background: var(--primary-color);
}

.SelectionClothes::-webkit-scrollbar-thumb {
  background: var(--fourth-color);
}

.SelectionClothes::-webkit-scrollbar-thumb:hover {
  background: var(--third-color);
}

.SelectionClothes--color {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: 2rem;
}
